<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <!-- path('', views.homepage, name='homepage'),  -->


</head>
<body>

    <h1>This is our homepage</h1>

    {% if user.is_authenticated %}
        <p>Vaše ime: {{ user.username }}</p>  

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form>


       

  

        <a href="{% url 'main:lista_narudzbi' %}">
            <button type="button">Lista narudžbi</button>
        </a>

        <br>

        <a href="{% url 'main:konobar_detalji' %}">
            <button>Korisnički podaci</button>
        </a>

        <br>

         <!-- <a href="{% url 'main:show_other_users' %}">
            <button type="button">Prikaz drugih korisnika</button>
        </a> -->


    {% else %}
        <p>Niste prijavljeni.</p> 
    {% endif %}
    

</body>
</html>