<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Konobara</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/global0.css' %}">

</head>
<body>


    <div class="header">
        <a href="{% url 'main:add_user' %}">Nazad na upravljanje korisnicima</a>
    </div> <!-- .header end -->

    <div class="body">
        <div class="container">
            <h1>Dodaj Konobara</h1>
            
        
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}  <!-- Form rendering -->
                <button type="submit">Spremi Konobara</button>
            </form>
        </div> <!-- .conteiner end-->

    </div> <!-- .body end-->



</body>
</html>
