<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalji Korisnika</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/global0.css' %}">
</head>
<body>


    <div class="header">
        <a href="{% url 'main:homepage' %}">Natrag na početnu stranicu</a>

    </div>

    <div class="body">
        <div class="container">

       



    <h1>Detalji Korisnika</h1>

    <h2>Podaci iz User modela</h2>
    <p>Korisničko ime: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    

    <h2>Podaci iz Konobar modela</h2>
    <p>Ime: {{ konobar.konobar_ime }}</p>
    <p>Prezime: {{ konobar.konobar_prezime }}</p>
    <p>Datum zaposlenja: {{ konobar.konobar_datum_zaposlenja }}</p>
    <p>Zarada: {{ konobar.konobar_zarada }}</p>
    <p>Telefon: {{ konobar.konobar_telefon }}</p>

   

    <br>
    <br>

    <a href="{% url 'main:konobar_update' %}">
        <button>Uredi Podatke</button>
    </a>

    <br>
    <br>

    <a href="{% url 'main:delete_user' %}" class="btn btn-danger">Obriši račun</a>

    </div>
</div>

</body>
</html>
