<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalji konobara</title>
</head>
<body>

   


    <h1>{{ konobar.konobar_ime }} {{ konobar.konobar_prezime }}</h1>

    <a href="{% url 'main:konobar_list_view' %}">
        povratak
    </a>
    
    <br>
    <br>


    <p>Datum zaposlenja: {{ konobar.konobar_datum_zaposlenja }}</p>
    <p>Zarada: {{ konobar.konobar_zarada }} EURA</p>
    <p>Telefon: {{ konobar.konobar_telefon }}</p>


    <br>
    <br>
    <form method="GET">
        <label>
            <input type="radio" name="placeno" value="true" {% if request.GET.placeno == "true" %}checked{% endif %}>
            Plaćene
        </label>
        <label>
            <input type="radio" name="placeno" value="false" {% if request.GET.placeno == "false" %}checked{% endif %}>
            Neplaćene
        </label>
        <label>
            <input type="radio" name="placeno" value="" {% if not request.GET.placeno %}checked{% endif %}>
            Sve
        </label>
        <button type="submit">Filtriraj</button>
    </form>
    <br>
    <br>

    

    <h2>Narudžbe</h2>
    <ul>
        {% for narudzba in narudzbe %}
            <li>
                <a href="{% url 'main:narudzba_detail' narudzba.narudzba_sifra %}">
                    {{ narudzba.narudzba_sifra }} - {{ narudzba.narudzba_ukupna_cijena }} EURA
                </a>
            </li>
        {% endfor %}
    </ul>

 
</body>
</html>
