<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalji narudžbe</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/global0.css' %}">
</head>
<body>

    
    <div class="header">
    
        <a href="{% url 'main:konobar_detail' user_pk=narudzba.narudzba_konobar.pk %}">
            povratak
        </a>
        
    </div> <!-- .header end -->

    <div class="body">
        <div class="container">



    <h1>Detalji narudžbe {{ narudzba.narudzba_sifra }}</h1>


    <p><strong>Datum kreiranja:</strong> {{ narudzba.narudzba_datum_kreiranja }}</p>
    <p><strong>Ukupna cijena:</strong> {{ narudzba.narudzba_ukupna_cijena }} EURA</p>
    <p><strong>Statut narudžbe:</strong> {% if narudzba.narudzba_placena %} Plaćena {% else %} Nije plaćena {% endif %}</p>


    <br>
    <br>

    <form method="GET">
        <label for="search_pice">Pretraži po imenu pića:</label>
        <input type="text" id="search_pice" name="search_pice" value="{{ search_pice }}" placeholder="Unesite ime pića">
        <button type="submit">Pretraži</button>
    </form>
    

    <h2>Stavke narudžbe</h2>
    <ul>
        {% for stavka in stavke %}
            <li>
                {{ stavka.stavka_pice.pice_naziv }} (x{{ stavka.stavka_kolicina_pica }}) - {{ stavka.stavka_ukupna_cijena }} EURA
            </li>
        {% endfor %}
    </ul>
</div> <!-- .conteiner end-->

</div> <!-- .body end-->

    
</body>
</html>
