<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista konobara</title>
</head>
<body>
    <h1>Lista konobara</h1>

    <a href="{% url 'main:homepage' %}">
        povratak
    </a>


       <!-- Forma za pretragu -->
    <form method="get">
        <label for="search">Pretraži po imenu ili username-u:</label>
        <input type="text" name="search" id="search" value="{{ request.GET.search }}">
        <button type="submit">Pretraži</button>
    </form>


    <ul>
        {% for konobar in konobari %}
            <li>
                <a href="{% url 'main:konobar_detail' user_pk=konobar.user.pk %}">
                    {{ konobar.konobar_ime }} {{ konobar.konobar_prezime }}
                </a>
            </li>
        {% endfor %}
    </ul>


    


</body>
</html>
